<h2> Member Details </h2>

<table>
  <tr>
    <td>First name:</td><td><%= @member.first_name.capitalize %></td>
      </tr>
      <tr>
    <td>  Last name: </td> <td><%= @member.last_name.capitalize %></td>
    </tr>
    <tr>
    <td>  Gender: </td><td><%= @member.gender.capitalize %></td>
    </tr>
    <tr>
    <td>  Date of birth: </td><td><%= @member.dob %></td>
    </tr>
    <tr>
      <td>Address:</td><td> <%= @member.address.upcase %></td>
      </tr>
      <tr>
    <td>  Post code: </td><td><%= @member.post_code.upcase%></td>
    </tr>
    <tr>
    <td>  Email address:</td><td> <%= @member.email %></td>
    </tr>
    <tr>
      <td>Phone number: </td> <td><%= @member.phone_number %></td>
      </tr>

</table>

<button class="back-btn"><a href="/members">BACK</a></button>
<button class="edit-btn"><a href="/members/<%= @member.id %>/edit">EDIT</a></button>
