<div class="container">
  <p>First Name: <%= @member.first_name.capitalize %></p>
  <p>Last Name: <%= @member.last_name.capitalize %></p>
  <p>Gender: <%= @member.gender.capitalize %></p>
  <p>Date Of Birth: <%= @member.dob %></p>
  <p>Address: <%= @member.address.upcase %></p>
  <p>Post Code: <%= @member.post_code.upcase%></p>
  <p>Email Address: <%= @member.email %></p>
  <p>Contact Number: <%= @member.phone_number %></p>
</div>
<p><a href="/members/<%= @member.id %>/edit">Edit</a></p>
<a href="/members">Back</a>
