<h2>Book new session</h2>

<form action="/bookings" method="post">
  <label>
    Select a member:
    <select name="member_id">
      <% for member in @members %>
      <option value="<%= member.id %>"><%=member.first_name%> <%=member.last_name%></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a session:
    <select name="session_id">
      <% for session in @sessions %>
      <option value="<%= session.id %>"><%= session.session_name %></option>
      <% end %>
    </select>
  </label>

  <input class="submit-btn" type='submit' value="SUBMIT">
</form>

<br>
<h2> Sessions booked </h2>
<table>
  <tr>
    <th>Session name</th>
    <th>Time</th>
    <th>Date</th>
    <th>Client name</th>
  </tr>

  <% for booking in @bookings %>
    <% for session in @sessions %>
    <% if session.id == booking.session_id %>
      <tr>
    <td>
      <%= session.session_name %>
    </td>
    <td>
      <%= session.session_time %>
    </td>
    <td>
      <%= session.session_date %>
    </td>
    <%end%>
    <% end %>

    <td>
    <% for member in @members %>
    <% if member.id == booking.member_id %>
    <%= member.first_name %> <%= member.last_name %>
    </td>
  </tr>
    <% end %>
  <% end %>
  <% end %>

  <table>
