<form  action="/sessions/<%= @session.id %>" method="POST">
  <input type="text" name="session_name" value="<%=@session.session_name.capitalize%>" id="session-name" placeholder="Session name" required>
  <input type="text" name="session_type" value="<%=@session.session_type.capitalize%>" id="session-type" placeholder="Session type" required>
  <input type="text" name="session_time" value="<%=@session.session_time%>" id="session-time" placeholder="Session time" required>
  <input type="text" name="session_date" value="<%=@session.session_date%>" id="session-date" placeholder="Session date" required>
  <br>
  <button class="back-btn"><a href="/sessions/<%= @session.id %>">BACK</a></button>
  <input class="submit-btn" type="submit" value="UPDATE">
</form>
