<h2> Add a new session </h2>
<form  action="/sessions/" method="POST">
  <label for="session-name">Session name: </label>
  <input type="text" name="session_name" id="session-name">

  <label for="session-type">Session type: </label>
  <input type="text" name="session_type" id="session-type">

  <label for="session-time">Session time: </label>
  <input type="text" name="session_time" id="session-time">

  <label for="session-date">Session date </label>
  <input type="text" name="session_date" id="session-date">

  <input type="submit" value="Submit">
</form>

<h2> Current sessions </h2>
<ul>
  <% for session in @sessions %>
  <li><a href="/sessions/<%=session.id%>">

  <%= session.session_name.capitalize%>
  <%= session.session_type.capitalize%>
  <%= session.session_time %>
  <%= session.session_date %>

  </a></li>
  <% end %>
  <a href="/">Back to home</a>
</ul>
