<h2> Add a new session </h2>
<form  action="/sessions/" method="POST">
  <input type="text" name="session_name" id="session-name" placeholder="Session name" required>
  <input type="text" name="session_type" id="session-type" placeholder="Session type"  required>
  <input type="text" name="session_time" id="session-time" placeholder="Session time" required>
  <input type="text" name="session_date" id="session-date" placeholder="Session date" required>
  <br>
  <input class="submit-btn" type="submit" value="SUBMIT">
</form>

<h2> Current sessions </h2>
<ul>
  <% for session in @sessions %>
  <li>
  <div class="button-wrap">
  <%= session.session_name.capitalize%>
  <br>
  <%= session.session_type.capitalize%>
  <br>
  <%= session.session_time %>
  <br>
  <%= session.session_date %>
  <br>
  </div>
  <button class="details-btn"><a href="/sessions/<%=session.id%>">DETAILS</button>
    <button class="edit-btn"><a href="/sessions/<%= session.id %>/edit">EDIT</a></button>
  </li>
  <% end %>
  <button class="home-btn"><a href="/">HOME</a></button>
</ul>
