<h2> Add a new session </h2>
<form  action="/sessions/" method="POST">
  <input type="text" name="session_name" id="session-name" placeholder="Session name" required>
  <input type="text" name="session_type" id="session-type" placeholder="Session type"  required>
  <input type="text" name="session_time" id="session-time" placeholder="Session time" required>
  <input type="text" name="session_date" id="session-date" placeholder="Session date" required>
  <br>
  <input class="submit-btn" type="submit" value="SUBMIT">
</form>
<div class="ses-wrap">
  <h2> Current sessions </h2>
</div>

<table>

  <% for session in @sessions %>

  <tr>
    <td>  <%= session.session_name.capitalize%></td>
    <td><%= session.session_type.capitalize%></td>
    <td> <%= session.session_time %></td>
    <td><%= session.session_date %></td>
    <td class="button-cell">
      <button class="details-btn"><a href="/sessions/<%= session.id%>">DETAILS</button>
      <button class="edit-btn"><a href="/sessions/<%= session.id %>/edit">EDIT</a></button>
      <form class="form-inline" action="/sessions/<%= session.id %>/delete" method="POST">
        <button class=" delete-btn" type="submit"><a href="/sessions/<%= session.id %>/delete"></a>DELETE</button>
      </form>
    </td>

  </tr>

    <% end %>
  </table>

  <button class="home-btn"><a href="/">HOME</a></button>
